- name: Deploy all k8s manifests
  hosts: localhost
  tasks:
    - name: Update Kubeconfig
      shell: update-kubeconfig.sh

    - name: Create docker registry secret directly
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: regcred
            namespace: java-app
          type: kubernetes.io/dockerconfigjson
          data:
            .dockerconfigjson: >-
              {{
                {
                  "auths": {
                    "https://index.docker.io/v1/": {
                      "auth": (docker_user ~ ":" ~ docker_password) | b64encode
                    }
                  }
                }
                | to_json
                | b64encode
              }}

    - name: Deploy nginx ingress controller
      kubernetes.core.helm:
        name: ingress-controller
        release_namespace: ingress
        create_namespace: true
        chart_ref: ingress-nginx/ingress-nginx

    - name: Deploy mysql
      kubernetes.core.helm:
        name: mysql
        release_namespace: default
        chart_ref: oci://registry-1.docker.io/bitnamicharts/mysql
        values: "{{ lookup('file', 'manifests/mysql-values.yaml') | from_yaml }}"

    - name: Create a k8s namespace for Java app
      kubernetes.core.k8s:
        name: java-app
        api_version: v1
        kind: Namespace
        state: present

    - name: Deploy all k8s manifests
      kubernetes.core.k8s:
        definition: "{{ lookup('file', '{{ item }}') }}"
        state: present
        create_namespace: true
        namespace: java-app
      with_fileglob:
        - "manifests/java-*.yaml"
