apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  db_user: amF2YQ== # java
  db_pass: amF2YS1wYXNz # java-pass
  db_name: amF2YS1kYg== # java-db
  db_root_pass: c2VjcmV0 # secret
